<div>
    <p>signers</p>
    {{#each rows}}
    {{#if url}}
    <div> <a href="{{url}}">{{last}}, {{first}}</a> {{age}}, <a href="/{{city}}">{{city}}</a></div>
    {{else}}
    <p> {{first}} {{last}} {{age}} <a href="/city">{{city}}</a></p>
    {{/if}}

    {{/each}}

</div>